.order-container {
  display: flex;
  align-items: center; /* Formu dikeyde ortala */
  justify-content: center;
  padding: 2vw;
  gap: 4vw;
  flex-wrap: wrap;
  text-align: center;
}

.phoneimg {
  max-width: 25vw;
  height: auto;
}

.order-form {
  max-width: 400px;
  padding: 20px;
  background-color:transparent; /* Saydam arka plan */
}

.order-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(200, 200, 200); /* Başlık rengi */
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgb(200, 200, 200); /* Etiket rengi */
  text-align: center; /* Etiketlerin ortalama */
  font-weight: bold;
}

.quantity-label {

  text-align: center; /* Etiketi ortala */
  margin-bottom: 5px;

}

.form-group input#quantity {
  width: 10vw; /* Sadece Cihaz Sayısı metin kutusunun genişliği */
}
.form-group input {
  width:25vw; /* İnputların genişliği */
  padding: 8px;
  box-sizing: border-box;
  color: white; /* Input metin rengi */
  background-color: rgb(234, 175, 37); /* Input arka plan rengi */
  border: 5px rgb(240, 200, 50);
  border-radius: 20px;
  margin: 0 auto; /* İnputları ortalama */
  text-align: center; /* İnput metnini ortalama */
  font-weight: bold;
}

.error {
  color: rgb(21, 0, 255);
  font-size: 0.875em;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(234,175,37);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgb(100, 100, 100);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .order-container {
    flex-direction: column;
    align-items: center;
  }

  .phoneimg {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .order-form {
    width: 100%;
    padding: 15px;
  }
}
